.grid-container {
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-left: 550px;
}
.test {
    display: flex;
    justify-content: center;
    background-color: bisque;
    color:aquamarine;
    border: 2px tomato;
    margin: 20px;
    padding: 20px;
}
.lol{
    display: flex;
    justify-content: center;
    height: 0;
}
.profile{
    width: 300px;
    height: 300px;
    background-image: url(https://th.bing.com/th/id/OIP.hVjhVt5EiigNSJr1QK93AAHaIJ?w=170&h=187&c=7&r=0&o=5&pid=1.7);
    position: relative;
    background-position: center;
    background-size: cover;
    padding-top: 50px;
    border-radius: 20%;
}
.notify{
    width: 50px;
    height: 50px;
    background-color: crimson;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 15px;
}